{
  "schemaVersion": "1.11.1",
  "class": "Device",
  "async": true,
  "label": "Unlicense BIG-IP using BIG-IQ with no route",
  "Common": {
    "class": "Tenant",
    "myLicense": {
      "class": "License",
      "licenseType": "licensePool",
      "bigIqHost": "{{ bigiq.address }}",
      "bigIqUsername": "{{ bigiq.admin_user }}",
      "bigIqPassword": "{{ bigiq.admin_password }}",
      "overwrite": true,
      "reachable": false,
      "hypervisor": "aws",
      "revokeFrom": "{{ bigiq.license_pool }}"
    }
  }
}
