{
  "class": "AS3",
  "action": "deploy",
  "declaration": {
    "class": "ADC",
    "schemaVersion": "3.7.0",
    "id": "DemoWebServers",
    "label": "DemoWebServers",
    "remark": "DemoWebServers",
    "{{ atc.tenant }}": {
      "class": "Tenant",
      "{{ atc.application }}": {
        "class": "Application",
        "template": "generic",
        "WebServerVIP": {
          "class": "Service_HTTPS",
          "virtualAddresses": ["0.0.0.0"],
          "snat": "auto",
          "pool": "WebServerPoolHttps",
          "profileHTTP": "basic",
          "serverTLS": "WebTLS",
          "profileTrafficLog": {
            "bigip": "/Common/Shared/{{ atc.elk_log_profile }}"
          }
        },
        "WebServerPoolHttps": {
          "class": "Pool",
          "monitors": ["http"],
          "reselectTries": 100,
          "members": [
            {
              "servicePort": 80,
              "serverAddresses": [
{% filter indent(16, true) %}
{% for application_private_ip in application_private_ips %}"{{ application_private_ip }}"{% if not loop.last %},{% endif %}{{ '\n' -}}
{% endfor %}
{% endfilter %}
              ]
            }
          ]
        },
        "WebTLS": {
          "class": "TLS_Server",
          "certificates": [
            {
              "certificate": "WebCert"
            }
          ]
        },
        "WebCert": {
          "class": "Certificate",
          "certificate": {
            "bigip": "/Common/default.crt"
          },
          "privateKey": {
            "bigip": "/Common/default.key"
          }
        }
      }
    }
  }
}
