{
    "name": "Graphite Datasource",
    "type": "graphite",
    "access": "proxy",
    "url": "http://{{ grafana_private_ip }}:80",
    "basicAuth": false,
    "isDefault": true,
    "jsonData": {
        "graphiteType": "default",
        "tlsSkipVerify": true
    },
    "readOnly": false
}
