{
  "class": "AS3",
  "action": "deploy",
  "declaration": {
    "class": "ADC",
    "schemaVersion": "3.7.0",
    "id": "DemoWebServers",
    "label": "DemoWebServers",
    "remark": "An Demo Webserver exposed as an HTTP Application Service",
    "{{ atc.tenant }}": {
      "class": "Tenant",
      "{{ atc.application }}": {
        "class": "Application",
        "template": "generic",
        "WebServerVIP": {
          "class": "Service_HTTP",
          "virtualAddresses": ["0.0.0.0"],
          "snat": "auto",
          "pool": "WebServerPool"
        },
        "WebServerPool": {
          "class": "Pool",
          "monitors": ["http"],
          "members": [
            {
              "servicePort": 80,
              "addressDiscovery": "aws",
              "updateInterval": 30,
              "tagKey": "Autodiscovery",
              "tagValue": "true",
              "addressRealm": "private",
              "accessKeyId": "{{ aws_access_key_id }}",
              "secretAccessKey": "{{ aws_secret_access_key }}",
              "region": "{{ aws.region }}",
              "credentialUpdate": true
            }
          ]
        }
      }
    }
  }
}
